header .logout-button {
    background-color: var(--delete-button-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .logout-button:hover {
    background-color: var(--delete-button-hover);
}

main {
    padding: 20px;
    max-width: 650px;
    margin: 20px auto;
    background: var(--meeting-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.common-dates-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    background: var(--meeting-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.date-item {
    background-color: var(--meeting-bg);
    border: 1px solid var(--meeting-border);
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.date-item:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

h1 {
    text-align: center;
    color: var(--link-hover);
    margin-bottom: 20px;
}

/* Odwołanie do id back-button */
#back-button {
    background-color: var(--button-bg);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Zajmuje całą szerokość */
    margin: 20px auto; /* Auto wysrodkowanie */
}

#back-button:hover {
    background-color: var(--button-hover);
}