main {
    padding: 20px;
    max-width: 650px;
    margin: 20px auto;
    background: var(--meeting-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: var(--link-hover);
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}
input {
    padding: 8px;
    width: 97%;
    margin-bottom: 10px;
    border: 1px solid var(--meeting-border);
    border-radius: 4px;
}

button {
    background-color: var(--button-bg);
    color: var(--text);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: var(--button-hover);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: var(--meeting-bg);
    border: 1px solid var(--meeting-border);
    border-radius: 4px;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}

header .logout-button {
    background-color: var(--delete-button-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .logout-button:hover {
    background-color: var(--delete-button-hover);
}

/* Ukryj przycisk usuwania */
.delete-date-button {
    display: none;
    margin-top: 12px;
    margin-bottom: 5px;
    background-color: var(--delete-button-bg);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.delete-date-button:hover {
    background-color: var(--delete-button-hover);
}

/* Rozwinięcie listy przycisków po kliknięciu */
.date-range-item.open .delete-date-button {
    display: block;
}

/* Animacja dla wygodniejszego ujawniania */
.date-range-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.date-range-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

hr {
    margin-top: 15px;
}

