header .logout-button {
    background-color: var(--delete-button-bg);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .logout-button:hover {
    background-color: var(--delete-button-hover);
}

/* Main Section Styles */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: var(--meeting-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
section {
    margin-bottom: 30px;
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
    color: var(--link-hover);
}

/* Input and Button Styles */
input {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid var(--meeting-border);
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: var(--button-bg);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover);
}

/* Meeting List Styles */
.meetings-list {
    border-top: 2px solid var(--meeting-border);
    padding-top: 20px;
}

#meeting-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.meeting {
    background-color: var(--meeting-bg);
    border: 1px solid var(--meeting-border);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.meeting:hover{
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

/* Meeting details */
.meeting-details {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
}

/* Kontener kodu spotkania */
.meeting-code-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    flex: 1 1 100%;
    color: var(--meeting-code-color);
    white-space: nowrap;
}

/* Button in "Your Meetings */
.details-button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.details-button {
    background-color: var(--details-button-bg);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-button:hover {
    background-color: var(--details-button-hover);
}

/* Przycisk Delete */
.delete-button {
    margin-left: auto; /* Przesuwa przycisk na prawo */
    background-color: var(--delete-button-bg);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: var(--delete-button-hover);
}

.meeting-title-container {
    display: flex;
    justify-content: space-between; /* Rozstawia nazwę i kod */
    align-items: center; /* Wyśrodkowuje pionowo */
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.meeting-name {
    color: var(--text-color);
}

.meeting-code {
    color: var(--meeting-code-color);
    font-size: 0.9rem; /* Kod może być nieco mniejszy */
    margin-left: auto; /* Przesuwa kod na prawo */
    white-space: nowrap; /* Zapobiega zawijaniu kodu */
}
